<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
        improve your experience.</p>
    <![endif]-->

    <script src="http://yui.yahooapis.com/3.10.3/build/yui/yui-min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script src="js/vendor/markerManager.js"></script>
    <script src="js/search.js"></script>
    <script src="js/list.js"></script>
    <script src="js/markers.js"></script>
    <script src="js/highlight.js"></script>
    <script src="js/doubleClick.js"></script>
    <script src="js/remember.js"></script>
    <script src="js/map.js"></script>
    <script src="js/markerManager.js"></script>

    <script src="js/main.js"></script>

    <ul id="resultList">
        <script type="text/template" id="resultListTemplate">
            <li>
                <a href="#" data-id="<%=this.realEstateId%>">
                    <% if (this['resultlist.realEstate'].titlePicture) { %>
                        <img class="picture" src="<%=this['resultlist.realEstate'].titlePicture.urls[0].url[0]['@href']%>">
                    <% } else { %>
                        <img class="picture" src="img/empty.png">
                    <% } %>
                    <ul class="criteria">
                        <li class="heading"><%=this['resultlist.realEstate'].title%></li>
                        <li class="address"><%=this['resultlist.realEstate'].address.street%> <%=this['resultlist.realEstate'].address.houseNumber%> <%=this['resultlist.realEstate'].address.quarter%> <%=this['resultlist.realEstate'].address.city%></li>
                        <li class="price">
                            <div class="label">Kaltmiete</div>
                            <div><%=this['resultlist.realEstate'].price.value%> €</div>
                        </li>
                        <li>
                            <div class="label">Zimmer</div>
                            <div><%=this['resultlist.realEstate'].numberOfRooms%></div>
                        </li>
                        <li>
                            <div class="label">Wohnfläche</div>
                            <div><%=this['resultlist.realEstate'].livingSpace%></div>
                        </li>
                    </ul>
                    <div class="remember"></div>
                </a>
            </li>
        </script>
    </ul>
    <div id="map"></div>

</body>
</html>
